<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to '#!', class: 'btn btn-primary', title: 'Bootstrap', data: { 'bs-toggle': 'tooltip', 'bs-placement': 'right' } do %>
  <span class="fas fa-home"></span> Bootstrap
<% end %>
