<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to t('admin.roles'), [:admin, :roles] %></li>
  <li class="breadcrumb-item active"><%= t('new') %></li>
<% end %>
<% content_for :navbars do %>
  <%= link_to t('back'), [:admin, :roles], class: 'btn btn-sm btn-info mt-n2 mb-n1' %>
<% end %>

<div class="card">
  <div class="card-body">
    <%= render 'form', role: @role %>
  </div>
</div>
