<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to t('admin.users'), [:admin, :users] %></li>
  <li class="breadcrumb-item active"><%= t('show') %></li>
<% end %>
<% content_for :navbars do %>
  <%= link_to t('edit'), [:edit, :admin, @user], class: 'btn btn-sm btn-primary mt-n2 mb-n1' %>
  <%= link_to t('back'), [:admin, :users], class: 'btn btn-sm btn-info mt-n2 mb-n1' %>
<% end %>

<div class="card">
  <div class="card-body">
    <table class="table table-bordered mb-0 fs--1">

    </table>
  </div>
</div>
